<% flash.each do |message_type, messages| %>
  <div class="alert alert-<%= message_type %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <% if messages.respond_to?(:each) %>
      <% messages.each do |message| %> 
        <li><%= message %></li>
      <% end %>
    <% elsif %>
      <%= messages %>
    <% end %>
  </div>
<% end %>

<div class="bg-light album py-5">
  <div class="container">
      <div class="row">
        <div class="offset-2 col-sm-8 mb-5">
          <div class="card box-shadow">
            <%= image_tag @content.image.url, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><b><%= @content.user.name %></b></h5>
              <p class="card-text"><%= @content.caption %></p>
              <h5 class="mt-5"><i class="fa fa-comment"></i> <b>コメント</b></h5>
              <% @content.comments.each do |cm| %>
                <div class="mb-3 comment">
                  <h6 class="card-title"><b><%= cm.user.name %></b></h6>
                  <p class="card-text"><%= cm.text %></p>
                </div>
              <% end %>
              <!-- コメント追加フォーム -->
              <%= form_for @new_comment, url: :create_comment do |nc| %>
                <div class="form-group">
                  <div class="input text">
                    <b><i class="fa fa-pencil"></i> <%= nc.label :新規コメント %></b>
                    <%= nc.text_field  :text, class: "form-control" %>
                    <%= nc.hidden_field :content_id, value: @content.id %>
                  </div>
                </div>
                <%= button_tag type: "submit", class: "btn btn-primary" do %>
                  投稿 <i class="fa fa-arrow-up"></i>
                <% end %>
              <% end %>
              <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="btn-group">
                  <%= link_to :Back, {controler: :contents, action: :index}, class: "btn btn-info btn-sm btn-outline-secondary" %>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>