<div class="container">
  <div class="postarea cf">
    <div class="postarea-text">
<!--       <textarea name="" id="content" cols="30" rows="10" placeholder="Enterで投稿"></textarea>
      <button id="post" class="postarea-button"><i class="fa fa-hand-o-down" aria-hidden="true"></i> 投稿</buttons> -->
      <%= form_for @new_content, url: contents_new_path do |nc| %>
        
        <%= nc.label      :キャプション %>
        <%= nc.text_field :caption %>
        <%= nc.label       :画像アップロード %>
        <%= nc.file_field  :image %>

        <%= nc.submit "投稿", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<% if flash[:error] %>
  <div class="content" style="border: dashed;">
    <p>フラッシュ</p>
    <% flash[:error].each do |message| %>
      <li> <%= message %> </li>   
    <% end %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="content" style="border: dashed;">
    <p>フラッシュ</p>
    <p><%= flash[:success] %></p>  
  </div>
<% end %>

<div class="content row">
  <% @contents.each do |content| %>
    <div class="box box-primary">
      <div class="post">
        <p> user_name </p>
        <%= image_tag content.image.url %>
        <p style = "color:red"><%= content.caption %></p>
      </div>
      <p><b>コメント</b></p>
      <% 5.times do puts %>
        <p> hello </p>
      <% end %>
    </div>
  <% end %>
</div>

