<!DOCTYPE html>
<html>
  <head>
    <title>MomiziUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header">
      <h1 class="logo">
        もみじあっぷろ〜だ〜
        <% if user_signed_in? %>
          <span class="username-header"> <i class="fa fa-user"></i> <%= current_user.name %> </span>
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="fa fa-sign-out logout"></i> 
        <% end %>
      </h1>
    </div>
    <%= yield %>
  </body>
</html>
