<!DOCTYPE html>
<html>
  <head>
    <title>MomiziUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <% if user_signed_in? %>
    <body>
      <div class="header">
        <h1 class="logo">
          もみじあっぷろ〜だ〜
          <span class="username-header"> <i class="fa fa-user"></i> <%= current_user.name %> </span>
          <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
            <i class="fa fa-sign-out logout"></i> 
          <% end %>
        </h1>
      </div>
  <% elsif %>
    <body class="hold-transition login-page">
      <div class="header">
        <h1 class="login-logo logo">もみじあっぷろ〜だ〜</h1>
      </div>
      <% flash.each do |message_type, messages| %>
        <div class="alert alert-<%= message_type %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% if messages.respond_to?(:each) %>
            <% messages.each do |message| %> 
              <li><%= message %></li>
            <% end %>
          <% elsif %>
            <%= messages %>
          <% end %>
        </div>
      <% end %>
  <% end %>
      <%= yield %>
    </body>
</html>
