<!DOCTYPE html>
<html>
  <head>
    <title>MomiziUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="hold-transition login-page skin-red">
    <div class="header">
      <h1 class="login-logo logo">もみじあっぷろ〜だ〜</h1>
    </div>
    <% flash.each do |message_type, messages| %>
      <div class="alert alert-<%= message_type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <% messages.each do |message| %> 
          <li class="flash-message"><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>